html,
body {
    overscroll-behavior: none;
}

/* Action Bars */
.artboard__action-bar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 4rem;
    padding: 1rem;
}
.action-bar__left,
.action-bar__top-right,
.action-bar__bottom-right {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 4rem;
    padding: 1rem;
}
.action-bar__left {
    top: 0;
    left: 0;
}
.action-bar__top-right {
    top: 0;
    right: 0;
}
.action-bar__bottom-right {
    bottom: 0;
    right: 0;
}

.action-bar__button {
    width: 2.25rem;
    height: 2.25rem;
    background: var(--yellow-3);
    color: var(--yellow-9);
    border: none;
    border-radius: 50%;
    margin: 0.25rem 0rem;
    padding: 0.5rem;
    /* opacity: 0; */
    cursor: pointer;
    transition: all linear 0.1s;
    z-index: 1002;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
}

.action-bar__button--create {
    background: var(--green-3);
    color: var(--green-9);
}

.action-bar__divider {
    background: var(--grayscale-6);
    height: 2px;
    margin: 0.5rem 0;
}

.action-bar__button--create .action-bar__button--active {
    background: var(--grayscale-9);
    color: white;
}

.action-bar__button:hover {
    background: var(--blue-2);
}

.action-bar__button--active:hover {
    background: var(--grayscale-8);
    color: var(--blue-3);
}

.action-bar__button svg {
    /* stroke: #222; */
    width: 1.25rem;
    height: 1.25rem;
    transition: all linear 0.2s;
}

.action-bar__button:nth-child(1) {
    transition-delay: 0.03s;
}
.action-bar__button:nth-child(2) {
    transition-delay: 0.06s;
}
.action-bar__button:nth-child(3) {
    transition-delay: 0.09s;
}
.action-bar__button:nth-child(4) {
    transition-delay: 0.12s;
}
.action-bar__button:nth-child(5) {
    transition-delay: 0.14s;
}

.action-bar__plus-icon {
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
    /* margin: 0rem 0.5rem; */
    padding: 0;
    /* opacity: 0; */
    cursor: default;
}
.action-bar__plus-icon svg {
    stroke: white;
    /* mix-blend-mode: overlay; */
    transition: all linear 0.1s;
}

/* Adjustments Panel */
.adjustments-panel__wrapper {
    font-family: 'Source Code Pro', 'IBM Plex Mono', sans-serif;
    position: absolute;
    top: 1rem;
    left: 0;
    bottom: 1rem;
    width: 9rem;
    padding-right: 1rem;
    margin-left: 1rem;
    box-sizing: border-box;
    overflow: auto;
    z-index: 1000;
    background: white;
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.1875rem;
    transition: margin-left ease-in-out 0.3s;
    display: none;
}
.adjustments-panel__wrapper.active {
    margin-left: -8rem;
}

.adjustments-panel__header {
    font-family: 'Source Code Pro', 'IBM Plex Mono', sans-serif;
    color: white;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    margin-top: 1px;
}

div:first-child > .adjustments-panel__header {
    border: none;
}

.adjustments-panel__adjustment-block {
    width: 100%;
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.adjustments-input--text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.25rem 0;
}
.adjustments-input--text > label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.75rem;
    color: white;
    display: block;
    flex: 1;
    margin-right: 0.5rem;
    flex: 1;
}
.adjustments-input--text > input {
    font-family: 'Source Code Pro', 'IBM Plex Mono', sans-serif;
    line-height: 1.5;
    width: 100%;
    padding: 0 0.25rem;
    box-sizing: border-box;
    background: white;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    border-radius: 0.125rem;
    color: black;
    flex: 4;
}

.adjustments-input--select {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.25rem 0;
}
.adjustments-input--select > label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.75rem;
    color: white;
    display: block;
    flex: 1;
    margin-right: 0.5rem;
    flex: 1;
}
.adjustments-input--select > select {
    font-family: 'Source Code Pro', 'IBM Plex Mono', sans-serif;
    border-radius: 0.125rem;
    appearance: none;
    line-height: 1.5;
    width: 100%;
    padding: 0 0.25rem;
    box-sizing: border-box;
    background: white;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    color: black;
    flex: 4;
}
.adjustments-input--select::after {
    content: '⌄';
    display: block;
    position: absolute;
    top: 0;
    right: 0.25rem;
    line-height: 1.5rem;
    pointer-events: none;
}

.gradient-adjustment__gradient-thumbnail,
.color-adjustment__color-thumbnail {
    position: relative;
    display: block;
    width: 100%;
    height: 1rem;
    margin: 0.25rem 0;
}

.color-adjustment__thumbnail,
.gradient-adjustment__gradient-start-thumbnail,
.gradient-adjustment__gradient-end-thumbnail {
    display: block;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    box-shadow: 0 0 0 2px #666;
    transition: all linear 0.1s;
    cursor: pointer;
    /* @include color-dot(); */
    background: #444;
    position: absolute;
    top: 0;
}

.gradient-adjustment__gradient-start-thumbnail,
.color-adjustment__thumbnail {
    left: 0;
}

.gradient-adjustment__gradient-end-thumbnail {
    right: 0;
}

.gradient-adjustment__gradient-thumbnail-preview,
.color-adjustment__preview {
    background: #444;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 0.5rem;
    right: 0.5rem;
    transition: all linear 0.2s;
    box-shadow: 0 0 0 1px #666;
    border-radius: 2px;
}

.color-adjustment__preview {
    right: 0;
}

.color-adjustment__color-picker {
    display: block;
    position: relative;
    width: 100%;
    height: 1rem;
}

.color-picker__row {
    display: flex;
    width: 100%;
}

.color-picker__color-dot-wrapper {
    width: 20%;
}

.color-picker__color-dot {
    display: block;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    box-shadow: 0 0 0 2px #666;
    transition: all linear 0.1s;
    cursor: pointer;
    /* @include color-dot(); */
    margin: 0.2rem auto;
}

/* Image picker */
.image-picker {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0.25rem;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    background: white;
    z-index: 100;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
}
.image-picker:hover .image-picker__thumbnail img {
    opacity: 0.75;
}

.image-picker__body {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.image-picker__footer {
    height: 3rem;
}

.image-picker__thumbnail {
    transition: opacity linear 0.2s;
    width: 33.3%;
}
.image-picker__thumbnail > img {
    display: block;
    width: 100%;
    padding: 0.25rem;
    box-sizing: border-box;
    height: auto;
    background: rgba(0, 0, 0, 0);
    transition: all linear 0.2s;
}

.image-picker__thumbnail:hover img:hover {
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
}

/* Adjustment Options */
.adjustment-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 4.25rem;
    padding: 1rem;
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)); */
    z-index: 1002;
    transition: all ease-out 0.1s;
    pointer-events: none;
}

.adjustment-options * {
    pointer-events: initial;
}

.adjustment-options--hidden {
    right: -4rem;
    right: 0;
}

.adjustment-options__icon {
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem 0;
    border-radius: 50%;
    background: white;
    pointer-events: initial;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
}

.adjustment-options__icon--active {
    background: black;
}

.adjustments-pane {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    /* top: 0; */
    right: 0;
    bottom: 0;
    width: 16rem;
    padding: 1rem 4rem 1rem 1rem;
    z-index: 1001;
    pointer-events: none;
    filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.4));
}

.adjustments-pane:before {
    content: '';
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30rem;
    height: 30rem;
    z-index: -1;
    background: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.4) 100%
    );
}

.adjustments-pane * {
    pointer-events: initial;
}
