:root {
    /* --body-bg-color: #f3f4f5; */
    --body-bg-color: #ffffff;
    --header-bg-color: white;
    --main-text-color: #112222;
    --secondary-text-color: #2c4249;
    --highlight-color-1: #2efccf;
    --highlight-color-2: #16f1c1;
    --iframe-bg-color: #dde0e2;
    --thin-stroke-color: #dde0e2;
    --fancy-font: 'Grenze', sans-serif;
    --blackletter-font: 'Schmaltzy', sans-serif;
    /* --plain-font: "Work Sans", sans-serif; */
    --plain-font: 'Work Sans', sans-serif;
    --box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
    font-size: 20px;
    font-family: var(--plain-font);
    line-height: 1.5;
    color: var(--main-text-color);
    background: var(--body-bg-color);
    min-height: 100%;
    border-bottom: var(--highlight-color-1) solid 2rem;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    html {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 16px;
    }
}

h1 {
    font-family: var(--blackletter-font);
    font-weight: 500;
    font-size: 1.5rem;
}

h2 {
    font-family: var(--blackletter-font);
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.25;
}

h3 {
    font-family: var(--blackletter-font);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
}

h4 {
    font-family: var(--plain-font);
    font-weight: 500;
    font-size: 1rem;
}

p {
    font-family: var(--plain-font);
    line-height: 1.75;
    margin: 1rem 0 2rem;
}

a {
    color: var(--highlight-color-2);
}

a:hover {
    text-decoration: none;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.global-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    text-align: center;
    z-index: 1005;
}

.global-header__home-button {
    border: none;
    background: none;
    padding: none;
}

.global-header__logo {
    filter: drop-shadow(0 1rem 0.5rem rgba(0, 0, 0, 0.4));
}

.global-header__logo * {
    transition: fill linear 0.1s;
}

.global-header__menu-button {
    border: none;
    background: none;
    padding: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
    filter: drop-shadow(0 1rem 0.5rem rgba(0, 0, 0, 0.4));
    cursor: pointer;
}

.global-header__menu svg {
    filter: drop-shadow(0 1rem 0.5rem rgba(0, 0, 0, 0.4));
}

.global-header__menu svg * {
    transition: all linear 0.1s;
}

.global-nav {
    font-family: 'IBM Plex Mono', 'Source Code Pro', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    background-image: radial-gradient(rgba(0, 0, 0, 0.15) 1.3px, transparent 0),
        radial-gradient(rgba(0, 0, 0, 0.15) 1.3px, transparent 0),
        radial-gradient(rgba(0, 0, 0, 0.15) 1.3px, transparent 0),
        radial-gradient(rgba(0, 0, 0, 0.15) 1.3px, transparent 0);
    background-size: 48px 48px;
    background-position: -6px -6px, 18px 18px, -6px 18px, 18px -6px;
    z-index: 1004;
}

.global-nav__menu-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.global-nav__menu-item {
    font-size: 3rem;
    margin: 1rem;
    color: rgb(42, 245, 152);
    color: #222;
}

.global-nav__menu-item a:hover {
    text-decoration: underline;
}

.blinking-cursor {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    color: #222;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.text-container {
    width: 50rem;
    max-width: 80%;
    margin: 8rem auto;
}

.page-title {
    font-family: 'Schmaltzy', sans-serif;
}

.intro-copy__superhead {
    font-family: 'IBM Plex Mono', 'Source Code Pro', sans-serif;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 900;
    color: rgb(42, 245, 152);
}

.intro-copy__headline {
    font-family: 'Schmaltzy', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

.text-container a {
    color: rgb(42, 245, 152);
}

.table-of-contents {
    width: 90%;
    max-width: 35rem;
    margin: 5rem auto 10rem;
}

.table-of-contents__item {
    display: flex;
    border-bottom: #ddd dotted 2px;
    padding: 0.5rem 0;
    margin: 2rem 0;
    font-size: 1.25rem;
    font-family: 'IBM Plex Mono', 'Source Code Pro', sans-serif;
}

.table-of-contents__link {
    flex: 1;
    text-align: right;
}

/* Old Styles */
/* Variables */

#main {
    padding-bottom: 5rem;
}

.intro {
    position: relative;
    border-top: var(--highlight-color-1) solid 5px;
    padding: 5rem 0;
    border-bottom: var(--thin-stroke-color) solid 1px;
}

.intro:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
}

.intro a {
    color: var(--highlight-color-1);
}

.intro-copy {
    width: 90%;
    max-width: 35rem;
    margin: 0 auto;
    /* color: #162f36; */
}

.intro-copy__headline {
    margin: 0;
}

.intro-logo {
    display: block;
    height: 4rem;
    margin: 0 0 3rem;
    fill: var(--highlight-color-1);
}

.work__copy {
    width: 80%;
    max-width: 35rem;
    margin: 5rem auto 5rem;
}

.work__art-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.work__art-caption {
    font-weight: 300;
    font-size: 0.75rem;
    color: var(--secondary-text-color);
    border-bottom: var(--thin-stroke-color) solid 1px;
    padding: 0 0.625rem 1rem;
    margin-bottom: 2rem;
}

.work__art-caption:before {
    content: '\2191';
    margin-right: 0.5rem;
    color: var(--highlight-color-1);
    font-weight: 900;
}

.figma-iframe--large,
.artwork--large {
    box-sizing: border-box;
    flex: 2;
    min-width: 90%;
    padding: 0 1rem;
}

.figma-iframe--large iframe,
.artwork__image--small {
    height: 60rem;
}

.figma-iframe--small,
.artwork--small {
    box-sizing: border-box;
    min-width: 24rem;
    max-width: 90%;
    flex: 1;
    padding: 0 1rem;
}

.figma-iframe--small iframe,
.artwork__image--small {
    height: 40rem;
}

iframe,
.artwork__image {
    background: var(--iframe-bg-color);
    height: 60rem;
    max-height: 70vh;
    box-shadow: var(--box-shadow);
}

@media screen and (max-width: 600px) {
    .intro-copy {
        width: 80%;
    }

    .work__copy {
        margin: 3rem auto;
    }

    .figma-iframe--large,
    .artwork--large {
        min-width: 100%;
        padding: 0;
    }

    .figma-iframe--small,
    .artwork--small {
        max-width: 100%;
        padding: 0;
    }
}
