/* Fonts */
@font-face {
    font-family: 'Schmaltzy';
    src: url(/fonts/Schmaltzy-VF.ttf);
}

:root {
    /* Color Palettes */
    --red-0: #fff0ed;
    --red-1: #facac8;
    --red-2: #f5a4a2;
    --red-3: #f07d7d;
    --red-4: #eb5757;
    --red-5: #d14b4c;
    --red-6: #b83e42;
    --red-7: #9e3237;
    --red-8: #84252d;
    --red-9: #6a1922;
    --red-10: #510c18;
    --red-11: #37000d;

    --orange-0: #fff2de;
    --orange-1: #fbdbb8;
    --orange-2: #f8c593;
    --orange-3: #f4ae6d;
    --orange-4: #dc9a5f;
    --orange-5: #c38552;
    --orange-6: #ab7144;
    --orange-7: #935d37;
    --orange-8: #7a4829;
    --orange-9: #62341b;
    --orange-10: #491f0e;
    --orange-11: #310b00;

    --yellow-0: #fff4cb;
    --yellow-1: #fddf9b;
    --yellow-2: #faca6b;
    --yellow-3: #e3b55f;
    --yellow-4: #cba053;
    --yellow-5: #b48c47;
    --yellow-6: #9d773b;
    --yellow-7: #856230;
    --yellow-8: #6e4d24;
    --yellow-9: #573918;
    --yellow-10: #3f240c;
    --yellow-11: #280f00;

    --green-0: #cdffe5;
    --green-1: #a1eec2;
    --green-2: #75dc9e;
    --green-3: #68c78d;
    --green-4: #5bb27c;
    --green-5: #4e9c6b;
    --green-6: #41875a;
    --green-7: #347248;
    --green-8: #275d37;
    --green-9: #1a4726;
    --green-10: #0d3215;
    --green-11: #001d04;

    --blue-0: #f0f3ff;
    --blue-1: #c0d6fb;
    --blue-2: #90baf6;
    --blue-3: #5f9df2;
    --blue-4: #2f80ed;
    --blue-5: #2871d1;
    --blue-6: #2263b4;
    --blue-7: #1b5498;
    --blue-8: #14467b;
    --blue-9: #0d375f;
    --blue-10: #072942;
    --blue-11: #001a26;

    --purple-0: #f8f0ff;
    --purple-1: #e5d3f8;
    --purple-2: #d1b7f2;
    --purple-3: #be9aeb;
    --purple-4: #aa7de4;
    --purple-5: #956bd0;
    --purple-6: #8059bb;
    --purple-7: #6b47a7;
    --purple-8: #553693;
    --purple-9: #40247f;
    --purple-10: #2b126a;
    --purple-11: #160056;

    --grayscale-0: #f0f3f4;
    --grayscale-1: #cfd4d6;
    --grayscale-2: #adb5b8;
    --grayscale-3: #8c979a;
    --grayscale-4: #6a787c;
    --grayscale-5: #49595e;
    --grayscale-6: #273a40;
    --grayscale-7: #213439;
    --grayscale-8: #1b2d32;
    --grayscale-9: #16272c;
    --grayscale-10: #102025;
    --grayscale-11: #0a1a1e;

    /* --body-bg-color: #f3f4f5; */
    --body-bg-color: var(--grayscale-0);
    --header-bg-color: var(--grayscale-1);
    --main-text-color: var(--grayscale-7);
    --secondary-text-color: var(--grayscale-6);
    --highlight-color-1: var(--blue-2);
    --highlight-color-2: var(--blue-3);
    --iframe-bg-color: var(--grayscale-1);
    --thin-stroke-color: var(--grayscale-2);
    --blackletter-font: 'Schmaltzy', 'Palatino Linotype', Palatino, Palladio,
        'URW Palladio L', 'Book Antiqua', Baskerville, 'Bookman Old Style',
        'Bitstream Charter', 'Nimbus Roman No9 L', Garamond, 'Apple Garamond',
        'ITC Garamond Narrow', 'New Century Schoolbook', 'Century Schoolbook',
        'Century Schoolbook L', Georgia, serif;
    --serif-font: 'Newsreader', 'Palatino Linotype', Palatino, Palladio,
        'URW Palladio L', 'Book Antiqua', Baskerville, 'Bookman Old Style',
        'Bitstream Charter', 'Nimbus Roman No9 L', Garamond, 'Apple Garamond',
        'ITC Garamond Narrow', 'New Century Schoolbook', 'Century Schoolbook',
        'Century Schoolbook L', Georgia, serif;
    --box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
}

html,
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

html {
    font-size: 20px;
    font-family: var(--serif-font);
    line-height: 1.5;
    color: var(--main-text-color);
    background: var(--body-bg-color);
    min-height: 100%;
    box-sizing: border-box;
    background-image: radial-gradient(
        circle at center,
        var(--blue-1) 0,
        var(--blue-1) 10%,
        var(--blue-0) 10%,
        var(--blue-0) 100%
    );
    background-size: 1rem 1rem;
    background-repeat: repeat;
}

main {
    min-height: 100vh;
}

@media screen and (max-width: 900px) {
    html {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }
}

h1 {
    font-family: var(--blackletter-font);
    font-weight: 500;
    font-size: 4.5rem;
}

h2 {
    font-family: var(--serif-font);
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.25;
}

h3 {
    font-family: var(--serif-font);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
}

h4 {
    font-family: var(--serif-font);
    font-weight: 400;
    font-size: 1rem;
}

p {
    font-family: var(--serif-font);
    line-height: 1.75;
    margin: 1rem 0 2rem;
}

a {
    color: var(--blue-3);
    transition: all linear 0.1s;
}

a:hover,
a:active {
    color: var(--blue-6);
}

a:hover {
    color: var(--blue-6);
}

* {
    box-sizing: border-box;
}

.reset-button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    width: 1.75rem;
    height: 1.75rem;
    margin: 0 auto;
    transition: all ease-out 0.3s;
}

/* GLOBAL NAV */
.global-nav {
    position: fixed;
    top: 0;
    right: 1rem;
    left: 1rem;
    z-index: 10;
}

.global-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.global-nav__item {
    display: inline-block;
    list-style: none;
    padding: 1.5rem 0.75rem;
    margin: 0;
}

.global-nav__link {
    text-decoration: none;
    color: var(--grayscale-7);
    transition: all ease-in-out 0.2s;
}

.global-nav__link:hover {
    color: var(--blue-5);
}

.global-nav__link--purple {
    color: var(--blue-9);
}

.global-nav__link--purple:hover {
    color: var(--blue-0);
}

.global-nav__item--mobile {
    display: none;
    flex: 1;
}

.mobile-nav__toggle {
    background: none;
    border: none;
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(0.5rem);
    z-index: 9;
}

.mobile-nav__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-nav__item {
    list-style: none;
    padding: 1rem 2rem;
    font-size: 3rem;
}

@media screen and (max-width: 600px) {
    .global-nav__item--desktop {
        display: none;
    }

    .global-nav__item--mobile {
        display: block;
    }

    .mobile-nav__toggle {
        display: block;
    }
}

/* HOMEPAGE */
.home-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    min-height: 90vh;
    font-size: 1rem; /* adjust to scale hero content up and down */
    background: linear-gradient(to top, white, var(--blue-0));
}

.home-hero__logo {
    width: 20em;
    cursor: pointer;
    overflow: hidden;
}

.sketch-logo {
    position: relative;
    display: block;
    width: 100%;
}

.sketch-logo__letters-backdrop {
    display: block;
    margin: 0;
    pointer-events: none;
    width: 100%;
    aspect-ratio: 520/230;
}

.sketch-logo__letter-stack {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sketch-logo__sketch-letter {
    position: relative;
    display: block;
    margin: 0;
    pointer-events: none;
    width: 100%;
    height: auto;
    aspect-ratio: 520/230;
}

.home-hero__text {
    width: 36em;
    max-width: 90vw;
    position: relative;
    padding: 8em 0;
    text-align: center;
}

.home-hero__title {
    font-size: 7em;
    font-weight: 500;
    height: 0;
    padding: 0;
    margin: 0;
}

.home-hero__title-top {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.home-hero__title-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

.home-hero__tag-line {
    font-size: 1.75em;
    margin: 0.75em 0 1em;
}

@media screen and (max-width: 600px) {
    .home-hero {
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .home-hero {
        font-size: 0.75rem;
    }

    .home-hero__logo {
        width: 30em;
        cursor: pointer;
    }

    .home-hero__tag-line {
        font-size: 2em;
    }
}

.about-me {
    width: 40rem;
    max-width: 80vw;
    margin: 0 auto 6rem;
}

.about-me__paragraph {
    font-family: var(--serif-font);
    font-size: 2rem;
}

.home-contact {
    width: 30rem;
    max-width: 90vw;
    margin: 0 auto;
    padding: 6rem 0;
    text-align: center;
}

.home-contact__title {
    font-family: var(--blackletter-font);
    font-weight: 500;
    font-style: italic;
    text-align: center;
    /* color: var(--green-3); */
}

.home-contact__intro-text {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5;
}

.email-block {
    width: 16rem;
    margin: 0 auto;
    padding: 1rem 0;
}

.email-block__input {
    display: block;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid var(--blue-5);
    font-family: var(--serif-font);
    font-size: 1rem;
    text-align: center;
    padding: 0.75rem 0;
    transition: all linear 0.1s;
}

.email-block__button {
    display: block;
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
    border: none;
    background: var(--blue-5);
    font-family: var(--serif-font);
    font-size: 1rem;
    color: white;
    padding: 0.75rem 0;
    transition: all linear 0.1s;
    cursor: pointer;
}

.home-features {
    padding: 0 0 2rem;
}

.home-features__intro {
    width: 30rem;
    max-width: 90vw;
    margin: 0 auto;
    padding: 6rem 0 2rem;
    text-align: center;
}

.home-features__title {
    font-family: var(--blackletter-font);
    font-weight: 500;
    font-style: italic;
    text-align: center;
    /* color: var(--purple-5); */
    margin: 0;
}

.home-features__intro-text {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5;
}

.home-features__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    max-width: 60rem;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .home-features__list {
        grid-template-columns: 1fr;
    }
}

.home-features__item {
    aspect-ratio: 1;
    margin: 2rem;
    margin: 0;
    padding: 1rem;
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    cursor: pointer;
    transition: all ease 0.1s;
}

.home-features__item:hover {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

.home-features__item--disabled {
    cursor: initial;
}

.home-features__item--disabled:hover {
    margin-top: 0;
    margin-bottom: 0;
}

.home-features__item-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;
    text-align: center;
}

.home-features__item-title,
.home-features__item-caption {
    margin: 0.5rem;
    line-height: 1.25;
}

.home-features__item-title {
    font-family: var(--blackletter-font);
    font-size: 2rem;
}

.home-features__item-caption {
    font-size: 1.5rem;
}

.home-features__item-logo {
    position: relative;
    height: 2.5rem;
    width: 100%;
    padding: 0;
    margin: 0.5rem;
}

.home-features__item-flag {
    margin: 1rem 0;
    padding: 0.2rem 0.75rem 0.1rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    font-style: italic;
    color: var(--grayscale-10);
    background: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.home-features__endorsement-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-features__endorsement {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 16rem;
    min-height: 16rem;
    margin: 2rem 2rem 4rem;
    padding: 1.5rem;
    border-radius: 1rem 1rem 3rem 3rem;
    background: var(--purple-4);
}

.home-features__endorsement-quote {
    flex: 1;
    font-family: var(--serif-font);
    font-size: 1.25rem;
    line-height: 1.25;
    text-align: center;
    color: white;
    margin: 0;
    text-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
}

.home-features__endorsement-quote:before {
    content: open-quote;
}

.home-features__endorsement-quote:after {
    content: close-quote;
}

.home-features__endorsement-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.home-features__endorsement-footer-text {
    flex: 1;
}

.home-features__endorsement-byline {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25;
    margin: 0;
}

.home-features__endorsement-bytitle {
    font-style: italic;
    font-size: 0.75rem;
    line-height: 1.25;
    margin: 0;
}

.home-features__endorsement-avatar {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    margin-right: 1rem;
    border-radius: 50%;
    mix-blend-mode: luminosity;
}

@media screen and (max-width: 600px) {
    .home-features__endorsement {
        width: 24rem;
        min-height: 16rem;
    }
}

/* WORK PAGE */
/* TODO: Possibly update this from older design */
.intro {
    position: relative;
    padding: 5rem 0;
    border-bottom: var(--blue-5) solid 1px;
    background: var(--blue-3);
    color: var(--blue-5);
}

.intro:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
}

.intro a {
    color: var(--blue-3);
}

.intro-copy {
    width: 90%;
    max-width: 35rem;
    margin: 0 auto;
    /* color: #162f36; */
}

.intro-copy__back-link {
    margin: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    /* position: sticky;
    top: 1rem; */
}

.intro-copy__superhead {
    font-size: 3rem;
}

.intro-copy__headline {
    font-size: 2rem;
    margin: 0;
}

.work__copy {
    width: 80%;
    max-width: 35rem;
    margin: 5rem auto 5rem;
}

.work__art-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.work__art-caption {
    font-weight: 300;
    font-size: 0.75rem;
    color: var(--secondary-text-color);
    border-bottom: var(--thin-stroke-color) solid 1px;
    padding: 0 0.625rem 1rem;
    margin-bottom: 2rem;
}

.work__art-caption:before {
    content: '\2191';
    margin-right: 0.5rem;
    color: var(--blue-3);
    font-weight: 900;
}

.figma-iframe--large,
.artwork--large {
    box-sizing: border-box;
    flex: 2;
    min-width: 90%;
    padding: 0 1rem;
}

.figma-iframe--large iframe,
.artwork__image--small {
    height: 60rem;
}

.figma-iframe--small,
.artwork--small {
    box-sizing: border-box;
    min-width: 24rem;
    max-width: 90%;
    flex: 1;
    padding: 0 1rem;
}

.figma-iframe--small iframe,
.artwork__image--small {
    height: 40rem;
}

iframe,
.artwork__image {
    background: var(--iframe-bg-color);
    height: 60rem;
    max-height: 70vh;
    box-shadow: var(--box-shadow);
}

@media screen and (max-width: 600px) {
    .work__copy {
        margin: 3rem auto;
    }

    .table-of-contents__item {
        font-size: 1rem;
    }

    .table-of-contents__item > * {
        flex: 1;
    }

    .figma-iframe--large,
    .artwork--large {
        min-width: 100%;
        padding: 0;
    }

    .figma-iframe--small,
    .artwork--small {
        max-width: 100%;
        padding: 0;
    }
}

/* COLOR PALETTE EXAMPLES */
.seed-colors * {
    filter: drop-shadow(0 1rem 0.5rem rgba(0, 0, 0, 0.2));
}

.color-examples {
    width: 28rem;
    max-width: 100%;
    background: white;
    border-radius: 1rem;
    margin: 1rem auto;
    filter: drop-shadow(0 1rem 0.5rem rgba(0, 0, 0, 0.2));
}

.color-examples,
.color-examples * {
    transition: all linear 0.2s;
}

.color-examples__type-selection {
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
}

.color-examples__type-button {
    flex: 1;
    border: none;
    height: 2rem;
    margin: 0;
    font-family: var(--monospace-font);
    line-height: 2rem;
    cursor: pointer;
}

.color-examples__type-button:hover {
    line-height: 1;
}

.color-examples__group {
    margin-bottom: 2rem;
    padding: 0 1.5rem;
}

.color-examples__label {
    display: block;
    font-family: var(--monospace-font);
    font-size: 0.75rem;
    font-style: italic;
    color: var(--grayscale-2);
    margin: 0.5rem;
}

.color-examples__button--primary,
.color-examples__button--secondary,
.color-examples__button--tertiary {
    border: none;
    background: var(--purple-3);
    color: white;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}

.color-examples__button--secondary {
    background: none;
    color: var(--purple-3);
    border: 1px solid var(--purple-3);
}

.color-examples__button--tertiary {
    background: none;
    text-decoration: underline;
}

.color-examples__headline {
    font-family: var(--blackletter-font);
    font-size: 3rem;
    line-height: 1.25;
    color: var(--purple-5);
}

.color-examples__icons-row * {
    margin-right: 0.5rem;
}

.color-examples__paragraph {
    padding-bottom: 2rem;
}

/* ABOUT */
.about-page {
    background: var(--purple-3);
    background: linear-gradient(to top, white, var(--blue-0));
    background-image: radial-gradient(
        circle at center,
        var(--blue-1) 0,
        var(--blue-1) 10%,
        var(--blue-0) 10%,
        var(--blue-0) 100%
    );
    background-size: 1rem 1rem;
    background-repeat: repeat;
    padding: 0.1rem 0;
}

/* .about-page a {
    color: var(--purple-1);
}

.about-page a:hover,
.about-page a:active {
    color: var(--purple-0);
} */

.text-container {
    width: 50rem;
    max-width: 80%;
    margin: 8rem auto;
}
